TestConsole/Service References/FileActionsService/FilesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8181/FilesService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Peer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeerHostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeerID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Peer" nillable="true" type="tns:Peer" />
</xs:schema>