TestConsole/Service References/FileActionsService/FilesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FilesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8181/FilesService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8181/FilesService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8181/FilesService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FreeFilesServerConsole.EF" />
      <xsd:import schemaLocation="http://localhost:8181/FilesService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FilesService_AddFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFiles" />
  </wsdl:message>
  <wsdl:message name="FilesService_AddFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFilesResponse" />
  </wsdl:message>
  <wsdl:message name="FilesService_AddPeer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPeer" />
  </wsdl:message>
  <wsdl:message name="FilesService_AddPeer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPeerResponse" />
  </wsdl:message>
  <wsdl:message name="FilesService_SearchAvaiableFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAvaiableFiles" />
  </wsdl:message>
  <wsdl:message name="FilesService_SearchAvaiableFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAvaiableFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="FilesService">
    <wsdl:operation name="AddFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/FilesService/AddFiles" message="tns:FilesService_AddFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FilesService/AddFilesResponse" message="tns:FilesService_AddFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPeer">
      <wsdl:input wsaw:Action="http://tempuri.org/FilesService/AddPeer" message="tns:FilesService_AddPeer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FilesService/AddPeerResponse" message="tns:FilesService_AddPeer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAvaiableFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/FilesService/SearchAvaiableFiles" message="tns:FilesService_SearchAvaiableFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FilesService/SearchAvaiableFilesResponse" message="tns:FilesService_SearchAvaiableFiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_FilesService" type="tns:FilesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFiles">
      <soap:operation soapAction="http://tempuri.org/FilesService/AddFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPeer">
      <soap:operation soapAction="http://tempuri.org/FilesService/AddPeer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAvaiableFiles">
      <soap:operation soapAction="http://tempuri.org/FilesService/SearchAvaiableFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilesService">
    <wsdl:port name="BasicHttpBinding_FilesService" binding="tns:BasicHttpBinding_FilesService">
      <soap:address location="http://localhost:8181/FilesService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>